<h1>Hi! Let's get organised</h1>
<p>First, who are you?</p>

<form action="/home" method="post">
    <button type="submit" name="user" value="Manager">Manager</button>
    <button type="submit" name="user" value="Waiter">Waiter/Waitress</button>
</form>