<div class="nav">
    <form action="/initial" method="post">
        <button type="submit">Home</button>
    </form>
</div>
<h2 id="loginPage">Please enter your name below</h2>
<form id="login" action="/name" method="post">
    <input type="text" name="name" id="name" placeholder="Name">
    <button type="submit" value="Login">Submit</button>
</form>