@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #222;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    display: none;
}

.container label {
    cursor: pointer;
    margin: 0 10px;
}