@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #040F16;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FBFBFF;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
    height: 10vh;
    border: 1px solid #FBFBFF;
}

input:checked ~ label {
    background: #FBFBFF;
    color: #040F16;
}

input[type="checkbox"] {
    display: none;
}

.container label {
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    width: 100px;
}

button {
    height: 40px;
    width: 200px;
    margin: 20px 10px;
    background: #25F500;
    outline: none;
    border: none;
    border-radius: 0;
    color: #FBFBFF;
    font-size: 14px;
    cursor: pointer;
}

button[value="Login"]{
    margin-left: 0;
}

input[type="text"] {
    height: 40px;
    width: 370px;
}

h2{
    margin-bottom: 20px;
}

::placeholder {
    font-size: 14px;
}

form#login {
    display: flex;
    flex-direction: column;
}

form#days {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form#workdays {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#Orange {
    background: orange;
}

div.nav {
    position: absolute;
    top: 0;
    display: flex;
    left: 0;
}

div.nav form button {
    background: none;
    width: 70px;
    font-size: 20px;
    border: 1px solid #FBFBFF;
}

div.nav form button:hover {
    background: #25F500;
    border: none;
}

@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        padding: 0;
        overflow:hidden;
    }
}

.Orange {
    background: orange;
}

.success {
    background: #25F500;
    position: absolute;
    top: 10%;
    animation: cssAnimation 0s ease-in 2s forwards;
}